.thanks{
  font-family:'Times New Roman', Times, serif;
  display: block;
  text-align: center;
  font-size: 80px;

  top: 50%;
  height: 100px;
  width: 400px;
  margin-top:56px;
  margin-left: 408px;
  background: black;
  color:white;
}
#start_button{
  margin-top: 40px;
  text-align: center;
}
